:host {
    main {
        background-color: white;
        box-shadow: 0 20px 70px 4px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        max-width: 720px;
        margin: 64px auto;
        padding: 64px;
        font-size: 1.25rem;
    }

    h1 {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0.4px;
    }

    #selects {
        display: flex;
        align-items: flex-end;
        margin: 64px auto 0;
    }

    #left {
        width: 50%;
        margin-right: 32px;
        text-align: right;
    }

    #right {
        width: 50%;
        margin-left: 32px;
    }

    label {
        display: block;
        font-size: 1rem;
    }

    input, select {
        margin-top: 16px;
        padding: 8px;
        background: white;
        border: 2px solid #DCE0E5;
        border-radius: 6px;
    }

    input:hover, select:hover {
        border-color: rgb(10, 191, 83);
    }

    input {
        width: 10ch;
        margin-right: 16px;
    }
    
    span {
        display: inline-block;
        width: 10ch;
        margin-left: 16px;
        color: #0866FF;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border: 2px solid rgb(10, 191, 83);
        border-radius: 6px;
        color: rgb(10, 191, 83);
    }

    button:hover {
        color: white;
        background-color: rgb(10, 191, 83);
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
        margin: 4px;
        color: currentColor;
    }

    label[for=date] {
        margin-top: 32px;
        text-align: center;
    }

    input[type=date] {
        display: block;
        width: 25%;
        margin: 16px auto 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #bottom {
        margin-top: 32px;
        text-align: center;
        font-size: 0.75rem;
    }
}