<main>
  <h1>Adyen Currency Converter</h1>

  <div id="selects">
    <div id="left">
      <label for="from-amount">From</label>
      <input type="number" name="from-amount" [formControl]="fromAmount">
    
      <select name="from-currency" [formControl]="fromCurrency">
        <option *ngFor="let currency of currencies$ | async" [selected]="currency === 'EUR'">{{ currency }}</option>
      </select>
    </div>

    <div id="middle">
      <button (click)="toggle()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4" />
        </svg>
      </button>
    </div>

    <div id="right">
      <label for="to-currency">To</label>
     
      <select name="to-currency" [formControl]="toCurrency">
        <option *ngFor="let currency of currencies$ | async" [selected]="currency === 'GBP'" [value]="currency">{{ currency }}</option>
      </select>

      <span>{{ convertedAmount$ | async | number:'1.0-2' }}</span>
    </div>
  </div>

  <label for="date">On</label>
  <input type="date" name="date" [formControl]="date" min="1999-01-01" max="{{ today }}">

  <div id="bottom">
    This currency converter is made by Otto Coster for Adyen.
  </div>
</main>